@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-primary: #0f2c59;
  --color-primary-light: #1a3e70;
  --color-secondary: #f2b636;
  --color-secondary-hover: #d9a025;
  --color-neutral-cream: #ebe6d9;
  --color-neutral-slate: #4a6583;
  --color-surface: #ffffff;
}

@layer base {
  body {
    @apply bg-neutral-cream text-slate-900 antialiased;
  }
}
